<h1>Login</h1>

<div class="span4 row">
<%= form_for(:session, url: sessions_path) do |u| %>
  <p><%= u.label :username %></p>
  <%= u.text_field :username %>

  <p class="pull-right"><%= u.submit "login", :class => "btn btn-primary" %></p>
<% end %>
</div>
