<% if @user.errors.any? %>
<div class="errors">
  <div class="alert alert-error">
    There was a problem with your form
  </div>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
</div>
<% end %>
