<div class="hero-unit">
  <div class="row center">
  <h1>Welcome to FriendCircle</h1>
    <h2>the best place to keep track of friends.</h2>
    <p>To get started click the button below or click the "Login" button to login</p>
    <%= link_to "Get Started", sign_up_path, class: "btn btn-large btn-primary center" %></p>
  </div>
</div>
